<div class="row">
  <div class="col-md-12">
    <div class="card" *ngIf="currentUser && user && company" >
      <div class="card-header">
        <b>{{user['name']}}</b>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <img src="assets/img/avatars/1.png" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-md-6 col-sm-6">
            <strong>ID:</strong> {{user['id']}}<br>
            <strong>Username:</strong> {{user['username']}}<br>
            <strong>Role:</strong> {{user['role']}}<br>
            <strong>Company:</strong><a [routerLink]="['/companies/' + company['id']]"> {{company['name']}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
