<div class="row">
  <div class="col-md-12">
    <div class="card" *ngIf="currentUser && companies && users">
      <div class="card">
        <div class="card-header">
          <b>Users</b>
        </div>
        <div class="card-body">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Role</th>
                <th>Company</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users" [id]="u['id']" tabindex="0">
                  <td>{{u['name']}}</td>
                  <td>{{u['username']}}</td>
                  <td>{{u['role']}}</td>
                  <td><a [routerLink]="['/companies/' + u['company_id']]"> {{company(u['company_id'])['name']}}</a></td>
                  <td><button type="button" [routerLink]="['/users/' + u['id']]" class="btn btn-info btn-sm"><span class=""></span> Details</button></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
