.topbar-info {
    padding: 7px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.topbar-info-green {
    color: darkgreen;
    /* color: white; */
}

.topbar-info-blue {
    color: dodgerblue;
    /* color: white; */
}

.topbar-info-red {
    color: maroon;
    /* color: white; */
}

.topbar-info-purple {
    color: rebeccapurple;
    /* color: white; */
}

.topbar-info-grey {
    color: slategray;
    /* color: white; */
}