<div class="row">
  <div class="col-md-12">
    <div class="card" *ngIf="currentUser && currentCompany && companyUser" >
      <div class="card-header">
        <b>{{currentCompany['name']}}</b>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <img src="assets/img/avatars/2.jpg" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-md-6 col-sm-6">
            <strong>ID:</strong> {{currentCompany['id']}}<br>
            <strong>Manager:</strong><a [routerLink]="['/users/' + currentCompany['manager_id']]"> {{companyUser['name']}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
